#game{
    width: 100vw;
}

#title{
    /* font-size: 42px; */
}

.objects{
    left: 5vw;
}

#mario{
    /* left: 22vw; */
}

.killed{
    left: 17vw;
}

@keyframes killed {
    0%{
        left: 5vw;
    }
    100%{
        left: 17vw;
    }
}

#game-over-text{
    /* margin-bottom: 40px; */
    /* font-size: 42px; */
}

#final-high-score-display{
    /* font-size: 16px; */
}

#play-again{
    /* margin-top: 35px; */
    /* padding: 15px; */
    /* font-size: 16px; */
}

@media screen {
    
}